*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

header { 
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.logo {
    color:#16507b;

}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color:#124265;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    transition: 1s;
}

.menu a:hover {
    color: #007bff;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
}

.menu .btn-menu:hover {
    background-color:#124265;
    color: white;
}

/* section main */

section.main {
    background-image: url('img/hero2-bg.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main__cta {
  width: 100%;
  margin: 60px 0;
  text-align: center;
}

.main__cta h2 {
  color:#16507b;
  font-size: 40px;
}

.main__cta p {
   color: midnightblue; 
   font-size: 19px;
   margin: 10px 0;
}

.main__cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.diferenciais {
    display: flex;
    margin: 0 auto; /* apagar */
    flex-wrap: wrap;
}

.diferencial-single {
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    padding: 50px 20px;
}

.diferencial-single, i {
    color: #124265;
    font-size: 23px;
}

.diferencial-single h2 {
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p {
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

section.sobre {
   padding: 80px 0;
}

.chamada-sobre {
    width:100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p {
    color: gray;
    font-size: 14px;
    margin: 10px 0;
}

.conteudo-sobre {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p {
    width: 48%;
    margin: 2%;
    color: #444444;
}

.conteudo-sobre span {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.conteudo-sobre i {
    color: #007bff;
    font-size: 18px;
}

section.conquistas {
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color:#124265;
}

.conquista-single h2 {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .diferencial-single {
        width: 100%;
        margin-bottom: 20px;
    }

    .menu{
        display: none;
    }

    .logo {
        width: 20%;
    }

    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }

    .menun-mobile i{
        font-size: 23px;
        margin-top: 8px;
    }
    .conteudo-sobre p{width: 100%;  margin: 20px 20px;}
}